@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;

}


audio#musica {
    display: block;
    position: relative ;
    left: 573px;
    top: 490px;
    width: 300px;

}

video#filme{
    display: block;
    position: relative;
    left: 90px;
    top: 85px;
    width: 440px;

}
div#filme1{
    width: 900px;
    height: 580px;
    margin: auto;


}

aside#lateral video home_filme1{
    display: block;
    position: relative;
    left: 90px;
    right: 100px;
    top: 800px;
    width: 800px;

}
video#home_filme2{
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

}